.info-box {
  width: 100%;
  height: auto; // Allow the height to adjust based on content
  max-width: 25rem;
  padding: 1rem; // Add padding for better spacing
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  transform: translateY(0);
  transition: all 0.3s;
  // background-color: green; // Exampl/e background color

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }

  .info-icon {
    padding: 0 1rem; // Reduce padding to free up space
    color: #fff;
    font-size: 2rem; // Adjust the icon size
  }

  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    overflow: hidden; // Prevent overflow
    text-overflow: ellipsis; // Add ellipsis for overflow text
    white-space: nowrap; // Prevent text wrapping if space is constrained
  }

  @media screen and (max-width: 600px) {
    .info-box {
      max-width: 100%;
      padding: 0.5rem; // Adjust padding for smaller screens
    }

    .info-text {
      font-size: 0.9rem; // Reduce text size on smaller screens
      white-space: normal; // Allow text to wrap on small screens
    }

    .info-icon {
      font-size: 1.5rem; // Further reduce icon size on small screens
    }
  }
}
